/********************/
/* CLASSES GLOBALES */
/********************/

#PageContentDiv .right { float: right; }
#PageContentDiv .left { float: left; }
#PageContentDiv .txtright { text-align: right; }
#PageContentDiv .txtleft { text-align: left; }
#PageContentDiv .txtcenter { text-align: center; }
#PageContentDiv .fright { float: right; margin: 0 0 8px 8px; }
#PageContentDiv .fleft { float: left; margin: 0 8px 8px 0; }
#PageContentDiv .centre { margin-left: auto; margin-right: auto; }
#PageContentDiv img.centre { display: block; }
#PageContentDiv .cadre { padding: 8px; border: 1px solid #4b3124; }
#PageContentDiv .sansmodif .editsectionlink { display: none; }
#PageContentDiv .espaceul li { padding-bottom: 8px }

#PageContentDiv .blocMain {
	border: 1px solid #e7dfc6;
	background-color: #f3efe2;
	padding: 4px;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}
#PageContentDiv .descBlocMain {
	padding-bottom: 2px;
	margin-bottom: 0;
	font-style: italic;
	text-transform: uppercase;
	color: #4b3124;
}

/**********/
/* TABLES */
/**********/

#PageContentDiv table.top td,
#PageContentDiv table.top th { vertical-align: top; }
#PageContentDiv table.page { width: 100% }
#PageContentDiv table.espace-col td { padding: 0 8px; }
#PageContentDiv table.deuxcol td { width: 50%; }
#PageContentDiv table.troiscol td { width: 33%; }
#PageContentDiv table.quatrecol td { width: 25%; }

/************/
/* ARTICLES */
/************/

#PageContentDiv div.article_2col,
#PageContentDiv div.article_3col {
  text-align: justify;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 1px solid #4b3124;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid #4b3124;
  column-gap: 1.5em;
  column-rule: 1px solid #4b3124;  
}

#PageContentDiv div.article_2col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

#PageContentDiv div.article_3col {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

#PageContentDiv div.chapeau {
  padding: 8px 12px;
  border: 0px;
  background-color: #f3efe2;
  color: #4b3124;
  -webkit-box-shadow: 5px 5px 2px #e7dfc6;
  box-shadow: 5px 5px 2px #e7dfc6;
}

/**********/
/* DIVERS */
/**********/

#PageContentDiv .dit {
  color: #337733;
  font-style: italic;
  font-family:georgia,garamond,serif;
}

#PageContentDiv .fondclair {
  background-color: #f3efe2;
}

/**********************/
/* QUESTIONS/RÃ‰PONSES */
/**********************/

#PageContentDiv .question {
  background-color: #f3efe2;
  background: -moz-linear-gradient(top,#e7dfc6,#f3efe2);
  background: -webkit-linear-gradient(linear,center top,center bottom,from(#e7dfc6),to(#f3efe2));
  font-weight: bold;
  padding: 6px 2px;
}

/********************/
/* Feuille de perso */
/********************/

#PageContentDiv .fdpdiv {
  clear: left;
}

#PageContentDiv .fdpdiv div.fdptab {
  border: 1px solid #4b3124;
  padding: 6px 6px 6px 0;
  margin-bottom: 12px;
}

#PageContentDiv .fdpdiv div.fdptab table {
  text-align: left;
  width: 100%
}

#PageContentDiv .fdpdiv div.fdptab td {
  padding: 0px 6px;
}

#PageContentDiv .fdpdiv p.fdptitre {
  width:100%;
  text-align: center;
  margin-bottom: 6px;
  padding: 6px 0px;
  background-color: #4b3124;
  color: #f3efe2;
  font-size: 150%;
  font-weight: bold;
}

#PageContentDiv .fdpdiv p.fdpst {
  width: 100%;
  border-bottom: 3px solid #4b3124;
  background-color: #f3efe2;
  padding: 3px;
  margin: 0 0 3px 0;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
}

#PageContentDiv .fdpdiv p.fdpta {
  width: 100%;
  background-color: #EFEFEF;
  padding: 3px;
  font-family: monospace;
  font-size: 90%;
}

#PageContentDiv .fdpdiv ul,
#PageContentDiv .fdpdiv p {
  margin-top: 2px;
  text-align: left;
}

#PageContentDiv .fdpdiv textarea {
  border: 0;
}

#PageContentDiv .fdpdiv a {
  color: blue;
}

/*********************/
/* Blocs descriptifs */
/*********************/

#PageContentDiv .BD {
  width: 400px;
  font-family: corbel, trebuchet ms, verdana, sans-serif;
  font-size: 13px;
  text-align: left;
}

#PageContentDiv .BD .BDtitre {
  background-color: #4b3124;
  color: #fff;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  text-indent: 0;
  font-size: large;
}

#PageContentDiv .BD div.box {
    display: block;
    border: none;
}

#PageContentDiv .BD .BDsoustitre,
#PageContentDiv .BD div.box {
  background-color: #f3efe2;
  color: black;
  padding: 0 1px 0 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-indent: 0;
  margin: 1px 0;
}

#PageContentDiv .BD .BDtexte {
  padding: 1px 0 1px 8px;
  text-indent: -8px;
  text-align: left;
}

#PageContentDiv .BD .BDsorts {
  padding: 1px 0 1px 16px;
  text-indent: -8px;
  text-align: left;
  font-size: 105%
}

#PageContentDiv .BD ul .BDsoustitre,
#PageContentDiv .BD ul div.box { margin-left: -8px; }

#PageContentDiv .BD ul ul .BDsoustitre,
#PageContentDiv .BD ul ul div.box { margin-left: -16px; }

#PageContentDiv .BD ul {
    list-style: none none inside;
    margin: 0;
    padding: 0;
}

#PageContentDiv .BD li {
  margin: 0;
  padding: 1px 0 1px 8px;
  text-indent: -8px;
  text-align: left;
}

#PageContentDiv .BD li p {
  margin: 0 0 -12px -8px;
  padding: 0;
  text-indent: 8px;
}

/**********/
/* Listes */
/**********/

ul.espaceli li {
  margin: 6px 0;
}

ul.espaceli li:first-child {
  margin-top: 0;
}

ul.espaceli li:last-child {
  margin-bottom: 0;
}



/*************/
/* Bestiaire */
/*************/

#PageContentDiv table.Bestiaire td:first-child {
  padding-right: 12px;
}

#PageContentDiv table.Bestiaire td:last-child {
}

#PageContentDiv table.Bestiaire td:last-child div {
  padding: 8px;
  border: 1px solid #4b3124;
  background-color: #f3efe2;
}

/*********************/
/* Texte descriptif */
/********************/

#PageContentDiv .description {
  color: gray;
  font-style: italic;
  font-size: 90%;
}

#PageContentDiv .descriptionnoir {
  font-style: italic;
  font-size: 90%;
}

/***********/
/* MENUTOP */
/***********/

#PageContentDiv .menutop {
  padding: 8px;
  border: 1px solid #4b3124;
  background-color: #f3efe2;
}

/****************/
/* PRESENTATION */
/****************/

#PageContentDiv .presentation {
  padding: 4px;
  border: 1px solid #4b3124;
  background-color: #f3efe2;
}

#PageContentDiv .presentation.doublePaddingLR{
  padding: 4px 8px;
}

#PageContentDiv .navmenu {
  margin: 0px 0px 12px 0px;
  /*width: 99%;*/
  border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: center;
}

#PageContentDiv .navmenu table {
  font-size: 90%;
  width: 100%;
  text-align: left;
  margin: 0
}

#PageContentDiv .navmenudroite {
  float: right;
  margin: 0 0 6px 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

#PageContentDiv .navmenudroite p {
  margin-top: 6px;
  margin-right: 8px;
  font-weight: bold;
}

#PageContentDiv .navmenudroite ul {
  font-size: 90%;
}

#PageContentDiv .arrondi {
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

#PageContentDiv .recentre {
  margin-left: 16px;
  margin-right: 16px;
}

#PageContentDiv .ombre {
  -webkit-box-shadow: 5px 5px 3px #4b3124;
  box-shadow: 5px 5px 3px #4b3124;
}

#PageContentDiv .espaceliste li {
  padding-top: 2px;
  padding-bottom: 2px;
}
  
#PageContentDiv .presentation h2,
#PageContentDiv .presentation h2.separator {
  background-color: #4b3124;
  color: #fff;
  padding: 4px;
  border: 0;
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
  font-size: 11pt;
}

#PageContentDiv .presentation h3 {
  border-bottom: 3px solid #4b3124;
  text-align: center;
}

#PageContentDiv .presentation .editsectionlink { display: none; }
#PageContentDiv .presentation .headeranchor { display: none; }

/***************/
/* LISTECACHEE */
/***************/

#PageContentDiv .cadrebas {
  background-color: #f3efe2;
  border-left: 1px solid #4b3124;
  border-right: 1px solid #4b3124;
  border-bottom: 1px solid #4b3124;
  margin-bottom: 6px;
  font-size: 85%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
}

/********/
/* BLOC */
/********/

#PageContentDiv div.bloc {
  margin: 0 0 10px 10px;
  padding: 5px;
  float: right;
  background-color: #ddd;
  width: 140px;
  font-size: 8pt;
}

/* UtilisÃ© pour masquer le lien "modifier" sur les boites latÃ©rales */
#PageContentDiv div.bloc .editsectionlink { display: none; }

#PageContentDiv div.bloc h3 { 
  margin: 0 0 3px 0;
  padding: 3px;
  background-color: #666;
  color: #eee;
  text-align: center;
}

#PageContentDiv div.bloc ul {
  list-style-image: none; /* On efface l'image */
  list-style-type: disc;
}

#PageContentDiv div.bloc li { }

#PageContentDiv div.bloc hr { }

/**************/
/* VOIR AUSSI */
/**************/

#PageContentDiv .voiraussi { }
#PageContentDiv .voiraussi h4 {
    line-height: 12px;
    overflow: hidden;
    margin: 4px 0 4px 0;
    padding-left: 16px;
    
    font-size: 16px;
    font-weight: bold;
    
    background: transparent url(images/theme/disc.png) no-repeat left center;
    color: #4b3124;
}

#PageContentDiv .voiraussi ul {
    margin: 0;
    padding: .5em 0 .5em 9px;
    
    list-style: none none inside; 
    
    border: solid 1px #4b3124;
    background: #f3efe2 url(images/theme/globe.png) no-repeat right top;
    color: #4b3124;
}

#PageContentDiv .voiraussi li {
    color: #000;
    background: transparent url(images/theme/square4.png) no-repeat left 6px;
    padding-left: 10px;
}

/************/
/* COLONNES */
/************/

#PageContentDiv .row * { box-sizing: border-box; }
#PageContentDiv .row:before, .row:after { display: table; content: " "; box-sizing: border-box; }
#PageContentDiv .row:after { clear: both }
#PageContentDiv .row .col { position: relative; padding: 0 10px; float: left; }
#PageContentDiv .row .col:first-child  { padding-left: 0; }
#PageContentDiv .row .col:last-child { padding-right: 0; }
#PageContentDiv .row .col-1 { width: 8.33333333%; }
#PageContentDiv .row .col-2 { width: 16.66666667%; }
#PageContentDiv .row .col-3 { width: 25%; }
#PageContentDiv .row .col-4 { width: 33.33333333%; }
#PageContentDiv .row .col-5 { width: 41.66666667%; }
#PageContentDiv .row .col-6 { width: 50%; }
#PageContentDiv .row .col-7 { width: 58.33333333%; }
#PageContentDiv .row .col-8 { width: 66.66666667%; }
#PageContentDiv .row .col-9 { width: 75%; }
#PageContentDiv .row .col-10 { width: 83.33333333%; }
#PageContentDiv .row .col-11 { width: 91.66666667%; }
#PageContentDiv .row .col-12 { width: 100%; }

/************/
/* TABLEAUX */
/************/

#PageContentDiv table.tablo {
  border-collapse: collapse; /* Indispensable pour que les bordures soient "fusionnÃ©es" */
}

/* Titre du tableau */
/* ---------------- */

#PageContentDiv table.tablo caption {
  background-color: #4b3124;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
  margin-bottom: 6px;
}

#PageContentDiv table.tablo thead th {
  background-color: #4b3124;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
  margin-bottom: 6px;
}

/* Contenu */
/* ------- */

#PageContentDiv table.tablo tr {
  vertical-align: top;
}
#PageContentDiv table.tablo tr td {
  border-top: 1px solid #e7dfc6;
  text-align: center;
  padding: 4px;
}
#PageContentDiv table.toutgauche tr td {
  text-align: left;
}
#PageContentDiv table.tablo tr td:first-child {
  text-align: left;
}
#PageContentDiv table.col1centre tr td:first-child {
  text-align: center;
}

/* Titres */
/* ------ */

#PageContentDiv table.tablo tr.titre td {
  border-top: 0;
  background-color: transparent;
  font-weight: bold;
  padding: 0 4px 4px 4px;
  text-align: center;
}
#PageContentDiv table.toutgauche tr.titre td {
  text-align: left;
}
#PageContentDiv table.tablo tr.titre td:first-child {
  text-align: left;
}
#PageContentDiv table.col1centre tr.titre td:first-child {
  text-align: center;
}
#PageContentDiv table.tablo tr.titre td.avecsoustitre {
  padding: 0 4px 0px 4px;
}
#PageContentDiv table.tablo tr.soustitre td {
  border-top: 0;
  background-color: #FFFFFF;
  font-weight: normal;
  text-align: center;
  font-size: 85%;
}

/* Exceptions */
/* ---------- */

#PageContentDiv table.tablo tr td.gauche {
  text-align: left;
}

#PageContentDiv table.tablo tr td.centre {
  text-align: center;
}

#PageContentDiv table.tablo tr.premier td {
  border-top: 2px solid black;
}

#PageContentDiv table.tablo tr.lignesup td {
  border-top: 1px solid black;
}

#PageContentDiv table.tablo tr.dernier td {
  border-bottom: 2px solid black;
}

#PageContentDiv table.tablo tr.alt {
  background-color: #f3efe2;
}

#PageContentDiv table.autoalt tr.alt {
  background-color: #fff;
}

#PageContentDiv table.autoalt tr:nth-child(odd) {
  background-color: #f3efe2;
}

#PageContentDiv table.autoalt tr.titre td {
  background-color: #fff;
}

#PageContentDiv table.tablo tr:hover {
  background-color: #ffc;
}

/* Notes */
/* ----- */

#PageContentDiv table.tablo tr.note td, #PageContentDiv table.tablo td.note {
  padding: 2px 20px 2px 20px;
  font-size: x-small;
  font-style: italic;
  text-align: left
}

/**************/
/* CATEGORIES */
/**************/

#PageCategoriesDiv { clear: both; }

#PageCategoriesDiv h4 {
    margin: 4px 0 4px 0;
    padding-left: 16px;
    
    font-size: 16px;
    font-weight: bold;
    
    background: transparent url(images/theme/disc.png) no-repeat left center;
    color: #4b3124;
}

#CategoriesSpan {
    margin: 0;
    padding: .5em 0 .5em 9px;    
    border: solid 1px #4b3124;
    background: #f3efe2 none no-repeat right top;
    color: #4b3124;
}

/***************************************/
/* Blocs descriptifs 2 (pas utilisÃ© ?) */
/***************************************/

#PageContentDiv .BD2 {
  width: 400px;
  font-family: corbel, trebuchet ms, verdana, sans-serif;
  font-size: 105%;
}

#PageContentDiv .BD2 .DBtitre,
#PageContentDiv .BD2 .Titre {
  background-color: #4b3124;
  color: #fff;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  text-indent: 0;
  font-size: large;
}

#PageContentDiv .BD2 .FP {
    float: right;
}

#PageContentDiv .BD2 .SousTitre,
#PageContentDiv .BD2 .BDsoustitre {
  background-color: #f3efe2;
  color: black;
  padding: 0 1px 0 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-indent: 0;
  margin: 1px 0;
}

#PageContentDiv .BD2 ul .BDsoustitre { margin-left: -8px; }

#PageContentDiv .BD2 ul {
    list-style: none none inside;
    margin: 0;
    padding: 0;
}

#PageContentDiv .BD2 li {
  margin: 0;
  padding: 1px 0 1px 8px;
  text-indent: -8px;
  text-align: left;
}

#PageContentDiv .BD2 .BDsorts {
  padding: 1px 0 1px 16px;
  text-indent: -8px;
  text-align: left;
  font-size: 105%
}



/* =================================================================================================================== */

html, body { margin:0; padding:0; height: 100%; }

body {
    background: #000 url(../theme/body.png) repeat scroll center top;
}

/**********/
/* GLOBAL */
/**********/

body, input, textarea, table { font-family: Arial, Sans-Serif; font-size: 9pt; }

iframe { background-color: #fff; }

form { height: 100%; }

a { color: #853a1e; }

a img { border: none; }

table { border-collapse: collapse; }

.center { text-align: center; }

/*********/
/* SIZES */
/*********/

#wrapper {
    height: 100%;
    min-width: 960px; 
    max-width: 1200px;
    table-layout: fixed; 
}

#page {
    min-width: 896px;
    max-width: 1136px;
}

/***********/
/* WRAPPER */
/***********/

#wrapper {
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff url(../theme/wrapper.png) repeat-y scroll right 102px;
}

#margin-l, #margin-r {
    padding: 0;
    vertical-align: top; 
    width: 22px;
    min-width: 22px;
    background: transparent none repeat-y scroll left top;
}

#margin-l { background-image: url(../theme/wrapper-l.png);  }
#margin-r { background-image: url(../theme/wrapper-r.png); }

/********/
/* PAGE */
/********/

#page {
    padding: 0;
    vertical-align: top; 
    background: transparent url(../theme/page.png) repeat-y scroll left 102px;
}

/**********/
/* HEADER */
/**********/

#header { height: 105px; }

#banner { background: transparent url(../theme/banner.jpg) no-repeat scroll -176px 0; height: 82px; }
#banner span { visibility: hidden; }

/* UserPanel */

#userpanel {
    float: right;
    background: transparent url(../theme/userpanel.png) no-repeat scroll right 0;
    width: 256px;
    height: 82px;
    font-size: 8pt;
}

#userpanel ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;
    margin: 12px 0 0 44px;
}

#userpanel img { float: right; margin-right: 12px; margin-top: 11px; }
#userpanel a { }

#userpanel .login { border: solid 1px #4b3124; background-color: #f6f4e1; margin: 0 0 0 0; width: 128px; }
#userpanel .password { border: solid 1px #4b3124; background-color: #f6f4e1; margin: 4px 0 6px 0; width: 102px; float: left; color: #4b3124; }
#userpanel .button { width: 22px; border: solid 1px #4b3124; background-color: #73351e; color: #fff; margin: 4px 0 0 4px; padding: 0; }

/* Nav */

#nav {
    display: inline-block;
    width: 100%;
    position: relative;
    top: -15px;
    margin-bottom: -3px;
    background: transparent url(../theme/nav.png) repeat-x scroll left top;
    height: 38px;
    overflow: visible;
}

#nav ul { margin: 0; padding: 0; list-style: none; }
#nav li { margin: 0; padding: 0; display: block; float: left; height: 41px; text-align: center; }
#nav a { margin: 0 5px; padding: 15px 0 3px 0; display: block; line-height: 23px; color: #fff; font-size: 11pt; font-weight: bold; text-decoration: none; }
#nav a:hover { color: #e4da92; }
#nav span.bullet { display: block; background: transparent url(../theme/nav-bullet.png) no-repeat scroll left center; padding-left: 14px; }
#nav a.home  { margin: 0 5px; width: 56px; }
#nav a.blog { font-size: 20pt; padding: 8px 0 0 0; line-height: 33px; }
#nav a.wikis { font-size: 20pt; padding: 8px 0 0 0; line-height: 33px; }
#nav a.forum { font-size: 20pt; padding: 8px 0 0 0; line-height: 33px; }
#nav a.galerie { font-size: 20pt; padding: 8px 0 0 4px; line-height: 33px; }
#nav a.parties { font-size: 20pt; padding: 8px 0 0 0; line-height: 33px; }
#nav a.contact { position: absolute; right: 0; margin: 0 20px; }
#nav a.admin { padding-left: 4px; }

/* Sub-Nav */
#nav ul.sub { display: none; position: absolute; z-index: 1; margin-top:-5px; background-color: #4b3124; border: solid 2px #391f16; border-width: 0 2px 2px 2px; }
#nav li:hover ul.sub { display: block; }
#nav ul.sub li { display: inline; float: none; height: 36px; }
#nav ul.sub a { font-size: 10pt; margin: 0; line-height: 18px; }

#nav ul.sub-wikis { width: 124px; margin-left: -9px; }
#nav ul.sub-parties { width: 124px; margin-left: -0px; }

/* PNG Replacement */
#nav ul a { background: transparent none no-repeat scroll center top; }
#nav ul.sub a, #nav li.current ul.sub a { background-position: left center; }
#nav a.home { background-image: url(../theme/nav-home.png); }
    #nav .home span { visibility: hidden; }
#nav a.blog { background-image: url(../theme/nav-blog.png); }
    #nav .blog span { visibility: hidden; }
#nav a.wikis { background-image: url(../theme/nav-wikis.png); }
    #nav .wikis span { visibility: hidden; }

#nav a.wiki-pfrpg { background-image: url(../theme/wiki-pfrpg.png); }
    #nav .wiki-pfrpg span { visibility: hidden; }
	
#nav a.wiki-golarion { background-image: url(../theme/wiki-golarion.png); }
    #nav .wiki-golarion span { visibility: hidden; }
	
#nav a.wiki-informations { background-image: url(../theme/wiki-informations.png); }
    #nav .wiki-informations span { visibility: hidden; }

#nav a.wiki-aventures { background-image: url(../theme/wiki-aventures.png); }
    #nav .wiki-aventures span { visibility: hidden; }

#nav a.wiki-starfinder { background-image: url(../theme/wiki-starfinder.png); }
    #nav .wiki-starfinder span { visibility: hidden; }

#nav a.forum { background-image: url(../theme/nav-forum.png); }
    #nav .forum span { visibility: hidden; }
#nav a.galerie { background-image: url(../theme/nav-galerie.png); }
    #nav .galerie span { visibility: hidden; }

#nav a.parties { background-image: url(../theme/nav-parties.png); }
    #nav a.parties span { visibility: hidden; }

#nav a.parties-wiki { background-image: url(../theme/parties-wikis.png); }
    #nav .parties-wiki span { visibility: hidden; }

#nav a.parties-forum { background-image: url(../theme/parties-forum.png); }
    #nav .parties-forum span { visibility: hidden; }

#nav a.contact { background-image: url(../theme/nav-contact.png); }
    #nav .contact span { visibility: hidden; }

#nav a:hover, #nav li.current a { background-position: center -41px; }
#nav ul.sub a:hover, #nav li.current ul.sub a:hover { background-position: -124px center; }

/* Container */

#container { background: transparent url(../theme/container-t.png) repeat-x left top; overflow: hidden; }
#container-tl { background: transparent url(../theme/container-tl.png) no-repeat left top; }
#container-tr { background: transparent url(../theme/container-tr.png) no-repeat right top; margin-right: 220px; overflow: hidden; }

/* Sidebar */

#sidebar { float: right; width: 220px; border-left: solid 2px #391f16; background-color: #fff; min-height: 31px; }
#sidebar h4,
#sidebar h1 { background-color: #4b3124; border: solid 0 #391f16; border-width: 2px 0; color: #fff; margin: .5em 0; padding: 3px 6px; font-size: 10pt; }

    #sidebar .light, #sidebar .light { background-color: Transparent; border: none; color: #4b3124; border-bottom: solid 1px #4b3124; padding: 0 6px; }
    
    #sidebar .disc { background-image: url(../theme/sidebar-disc.png); background-repeat: no-repeat; background-position: 3px center; padding-left: 20px; }
    #sidebar .arrow { background-image: url(../theme/sidebar-arrow.png); background-repeat: no-repeat; background-position: 3px center; padding-left: 20px; }
    #sidebar .star { background-image: url(../theme/sidebar-star.png); background-repeat: no-repeat; background-position: 4px center; padding-left: 20px; }

    #sidebar .disc-i { background-image: url(../theme/sidebar-disc-i.png); background-repeat: no-repeat; background-position: 3px center; padding-left: 21px; }
    #sidebar .arrow-i { background-image: url(../theme/sidebar-arrow-i.png); background-repeat: no-repeat; background-position: 3px center; padding-left: 21px; }
    #sidebar .star-i { background-image: url(../theme/sidebar-star-i.png); background-repeat: no-repeat; background-position: 3px center; padding-left: 21px; }

#sidebar ul { list-style: disc url(../theme/bullet.png) inside; margin: 0; padding: 0 0 0 6px; }

#sidebar p { margin: 3px; }

#sidebar fieldset { border: none; padding: 0; margin: 4px; }
#sidebar fieldset label { display: block; }
#sidebar fieldset input { border: solid 1px #4b3124; background-color: #f6f4e1; }

/* Sueetie specifics */

.wikiTagsArea { display: none; }

/* Content */

#content { padding: 31px; }

#content h1 { background: transparent url(../theme/content-heading.png) no-repeat left top; padding-left: 26px; color: #4b3124; font-size: 16pt; }
    #content h1 a { text-decoration: none; color: #4b3124; }

/**********/
/* Footer */
/**********/

#footer {
    padding: 0;
    vertical-align: top; 
    background-color: #4b3124;
    border-top: 2px solid #391f16;
    color: #fff;
    text-align: center;
    height: 4em;
}

#footer p { margin: 1em 0; }
#footer ul { height: 2em; text-align: center; list-style: none; margin: 0 auto; padding: 0; }
#footer ul li { display: inline; padding: 0 10px; }
#footer a { color: #fff; }


/* =================================================================================================================== */


/***********/
/* TOOLBAR */
/***********/

#PageToolbarDiv { }
#PageToolbarDiv a,
#PageToolbarDiv input {
    display: block;
    float: right;
    width: 18px;
    height: 0 !important;
    height /**/: 18px;
    
    margin-left: 2px;
    padding: 18px 0 0 0;
    overflow: hidden;
    
    border: solid 1px #fff;
    color: #fff;
    background: #fff none no-repeat center center;
}

#PageToolbarDiv a:hover,
#PageToolbarDiv input:hover {
    border: solid 1px #C7B9B3;
}

#PageToolbarDiv div { display: inline; }

#DiscussLink, #EditLink, #HistoryLink, #ViewCodeLink, #BackLink, #PrintLink { font-size: 0; line-height: 16px; color: transparent; height: 16px; display: block; }

#EditHistoryLinkDiv { float: right }

#EditHistoryLinkDiv a {
    float: right;
    display: block;
    margin: 0 1px;
    padding: 2px 2px 2px 20px;

    border: solid 1px #fff;
    background: #fff none no-repeat 2px center;

}

#EditHistoryLinkDiv a:hover {
    border: solid 1px #C7B9B3;
}

#DiscussLinkDiv a, a#DiscussLink { background-image: url(theme/wiki/balloon-light.png); }
    #DiscussLinkDiv a:hover, a#DiscussLink:hover { background-image: url(theme/wiki/balloon.png); }


#EditLinkDiv a, a#EditLink { background-image: url(theme/wiki/pencil-light.png); }
    #EditLinkDiv a:hover, a#EditLink:hover { background-image: url(theme/wiki/pencil.png); }

#ViewCodeLinkDiv a, a#ViewCodeLink { background-image: url(theme/wiki/edit-code-light.png); }
    #ViewCodeLinkDiv a:hover, a#ViewCodeLink:hover { background-image: url(theme/wiki/edit-code.png); }

#HistoryLinkDiv a, a#HistoryLink { background-image: url(theme/wiki/clock-history-light.png); }
    #HistoryLinkDiv a:hover, a#HistoryLink:hover { background-image: url(theme/wiki/clock-history.png); }

#AttachmentsLinkDiv a#AttachmentsLink { background-image: url(theme/wiki/paper-clip-light.png); }
    #AttachmentsLinkDiv a:hover, a#AttachmentsLink:hover { background-image: url(theme/wiki/paper-clip.png); }

#BackLinkDiv a, a#BackLink { background-image: url(theme/wiki/arrow-180-light.png); }
    #BackLinkDiv a:hover, a#BackLink:hover { background-image: url(theme/wiki/arrow-180.png); }

#PostMessageLinkDiv a, a#PostMessageLink { background-image: url(theme/wiki/balloon-plus-light.png); }
    #PostMessageLinkDiv a:hover, a#PostMessageLink:hover { background-image: url(theme/wiki/balloon-plus.png); }

#RssLinkDiv a { background-image: url(theme/wiki/feed-light.png); display: none; }
    #RssLinkDiv a:hover { background-image: url(theme/wiki/feed.png); }

#PrintLinkDiv { float: right; position: relative; top:-38px; }
#PrintLinkDiv a, a#PrintLink { background: transparent url(theme/wiki/printer-light.png) no-repeat left center; padding: 2px 2px 2px 20px; }
    #PrintLinkDiv a:hover#PrintLink { background-image: url(theme/wiki/printer.png); }

#EmailNotificationDiv { float: right; position: relative; top:-38px; }
#EmailNotificationDiv input { padding: 0; margin-right: 6px; }
#EmailNotificationDiv input.inactivenotification { background: transparent url(theme/wiki/mail-plus-light.png) no-repeat center center; width: 16px; }
    #EmailNotificationDiv input.inactivenotification:hover { background-image: url(theme/wiki/mail-plus.png); }
#EmailNotificationDiv input.activenotification { background: transparent url(theme/wiki/mail-minus-light.png) no-repeat center center; width: 16px; }
    #EmailNotificationDiv input.activenotification:hover { background-image: url(theme/wiki/mail-minus.png); }


/***********/
/* SIDEBAR */
/***********/

#sidebar .headeranchor { display: none; }

/***********/
/* CONTENT */
/***********/

#PageContentDiv { text-align: justify; margin-top: 18px; }

#PageContentDiv, #PageContentDiv table { font-size: 13px; }

#PageContentDiv img { border: 0; }

#PageContentDiv a.editsectionlink {
    display: block;
    float: right;
    width: 18px;
    height: 0 !important;
    height /**/: 18px;
    
    margin-top: 2px;
    padding: 18px 0 0 0;
    overflow: hidden;
    background: #fff url(theme/wiki/pencil-small-light.png) no-repeat center center;
}

#PageContentDiv a.editsectionlink:hover {
    background-image: url(theme/wiki/pencil-small.png);
}

#PageContentDiv h2 { margin: .5em 0; color: #4b3124; font-size: 13.5pt; }
#PageContentDiv h2.separator { border-bottom: solid 1px #4b3124; }

#PageContentDiv h3 { color: #4b3124; }

#PageContentDiv h4 { color: #4b3124; }

#PageContentDiv a { text-decoration: none; }
#PageContentDiv a:hover { text-decoration: underline; }
#PageContentDiv a.pagelink, #content a.systemlink { color: #24b; }
#PageContentDiv a.unknownlink { color: #c33; }

#PageContentDiv ul {
    list-style-image: url(theme/bullet.png);
    list-style-type: square;
    padding-left: 17px;
}

#PageContentDiv table td { vertical-align: top; }

#PageContentDiv .separator .headeranchor { visibility: hidden; text-decoration: none; margin-left: 4px; }
#PageContentDiv .separator:hover .headeranchor { visibility: visible; }

/*******/
/* TOC */
/*******/

#TocContainer { float: right; }
#TocContainer p.small { margin: 0; }
#TocContainer #ExpandTocSpan { }

#Toc { border: solid 1px #c7b9b3; background-color: #f3efe2; }
#Toc p { margin: 0 2px; }

/***************/
/* PAGE LAYOUT */
/***************/

#PageInternalFooterDiv { font-size: .9em; margin-top: 4em; }
#PageInternalFooterDiv .inline { }
#PageInternalFooterDiv .inline ul { list-style: none; list-style-position: inside; padding: 0; margin: 0; display: inline; }
#PageInternalFooterDiv .inline ul li { display: inline; padding: 0 4px 0 0; margin: 0; }

/******/
/* SA */
/******/

#HeaderSADiv { width: 100%; }
#NavigationSADiv { width: 100%; }
#ContainerSADiv { width: 100% }

/**********/
/* EDITOR */
/**********/

#PageNameAndTitleDiv { width: 64%; }

#EditorDiv { clear: both; }
#EditorDiv textarea { border: solid 1px #c7b9b3; width: 100%; font-family: Consolas, Courier New, Sans-Serif; }

#VisualEditorBody { font-family: Arial, Sans-Serif; font-size: 9pt; }

